* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("crossline-dots.png");
}
header {
    margin-top: 0px;
    height: 84px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: azure;
    border: #dddddd;
    border-style: solid;
    border-width: 1px;
}

.main {
    width: 958px;
    margin: 0 auto;
}

#two {
    margin-top: 45px;
    background-color: #ffffff;
    height: 480px;
    border: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding: 0px;
}
#name {
    font-size: 33px;
    margin-top: 0px;
    /* margin-left: 100px; */
    height: 61px;
    background-color: #4aaaa5;
    margin-right: 362px;
    text-align: center;
    padding-top: 23px;
    width: 242px;
    color: #ffffff;
    float: left;
}

#links {
    /* margin-right: 100px; */
    margin-top: 16px;
    float: right;
    width: 245px;
    padding: 16px;
    background: lightblue;

}

.spacing{
    width: 1px;
    height: 19px;
    background-color: blue;
    float: left;
}

#about {
    width: 74px;
    float: left;
}

#portfolio {
    width: 91px;
    float: left;
    /* margin-left: 74px; */
}

#contact {
    width: 74px;
    float: left;
    text-align: right
    /* margin-left: 74px; */
}

#lower {
    height: 56px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    padding-top: 20px;
    padding-left: 20px;
    color: #4aaaa5;
}

#lower-spacer {
    width: 890px;
    height: 2px;
    margin: 0 auto;
    background-color:#dddddd;
}




h1 {
    box-sizing: border-box;
    color: #ffffff;
    background-color: #4aaaa5:
}

h2 {
    color: #4aaaa5;
}
p {
    color: #777777;
}

#migs { 
    /* The image used */
    background-image: url(Portfolio-background.jpg);
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:  
}
